.container {
    background-color: pink;
    color: blue;
    font-size: 16px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.second{
    width: 50%;
    display: block;
    text-align: center;
    background-color: lightblue;
    color: darkblue;
    font-size: 18px;
    border: 2px solid navy;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}
button{

    background-color: white;
    color: black;
    font-size: 18px;
    border: 2px solid yellow;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    
}
.d{
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.had{
    background-color: lightgreen;
    color: darkgreen;
    font-size: 18px;
    border: 2px solid green;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
}
.nav{
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}